.image{
    position: absolute;
    left: 730px;
    top: 260px;
}
.relative{
    position: relative;
 


}
.relative img{
    width: 363px;
    height: 485px;
}
.absolute{
    position: absolute;
    top: 5px;
    left: 180px;
  
}
